[MASTER]
ignore = fastapiv
ignore-patterns=(.)*_test\.py,test_(.)*\.py
disable=missing-module-docstring, missing-class-docstring, missing-function-docstring, too-few-public-methods, wrong-import-position

[LOGGING]
disable=logging-fstring-interpolation

[MESSAGES CONTROL]

disable=no-member

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=10